@import url('../../styles/global');

body.dark h1 {
  color: var(--light-mode-body);
}

body.dark h3 {
  color: var(--light-mode-body);
}

body.dark p {
  color: var(--dark-mode-grey);
}

body.light h1 {
  color: var(--light-mode-black);
}

body.light h3 {
  color: var(--light-mode-black);
}

body.light p {
  color: var(--light-mode-grey);
}
