@import url('../../styles/global');

body.dark button {
  color: var(--light-mode-body);
  border: 2px solid var(--dark-mode-badge);
  background-color: var(--dark-mode-badge);
  transition: all 0.3s ease;
}

body.light button {
  color: var(--light-mode-black);
  border: 2px solid var(--light-mode-badge);
  background-color: var(--light-mode-badge);
  transition: all 0.3s ease;
}

body.dark button:hover,
body.light button:hover {
  border: 2px solid var(--toggleBorder);
}
